.div{
/* friend helped me with this code  */   
width: 300px;
height: 550px;
margin-left: auto;
  margin-right: auto;
  border: 5px outset rgb(163, 80, 13);
  background-color: rgb(240, 223, 146);
  padding: 2%;
}

.center{

    display: block;
   border: 5px outset rgb(163, 80, 13);
  margin-left: auto;
  margin-right: auto;
  margin-top: 9%;
  margin-bottom: 9%;
  
}

.center1{
  width: 300px;
  height: 150px;
  background-color: rgb(206, 176, 7);
  margin-left: auto;
  margin-right: auto;
  border:5px tomato dashed
  
}