div {
    background-color: rgb(239, 243, 199);
    margin: 100px;
    border: 3px;
    padding: 33px;
    border-style: solid;
    border-color: rgb(110, 23, 11);
    padding: 5%;
}
#img {
    display: block;
    border: 5px;
    border-style: inset;
    border-color: rgb(214, 127, 51);
}
p {
    border: 5px;
    border-style: dashed;
    border-color: rgb(214, 127, 51);
    background-color: yellow;
    overflow: scroll;
    width: 1025px;
    height: 103px;
}
